
/dist
/tmp
/out-tsc
/bazel-out
/public

/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.editorconfig

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

angular.json
package-lock.json
tsconfig.spec.json
tsconfig.json
tsconfig.app.json

.firebaserc
firebase.json
.firebase