<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="description-style">Company</div>
    <label class="form-label display-flex">
      <select formControlName="selectOption" class="custom-dropdown">
        <option *ngFor="let option of options" [value]="option">{{ option }}</option>
      </select>
      <div class="arrow-icon">
        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.81373 5.86077C5.41491 6.41912 4.58509 6.41912 4.18627 5.86077L1.12946 1.58124C0.656693 0.91937 1.12982 1.78218e-07 1.94319 2.49325e-07L8.05681 7.83795e-07C8.87018 8.54903e-07 9.34331 0.919371 8.87054 1.58124L5.81373 5.86077Z" fill="black"/>
        </svg>
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="form-label">
      <div class="description-style">Token name</div>
      <input formControlName="textInput" type="text" class="input-field"  />
    </label>
  </div>

  <div class="form-group">
    <label class="form-label">
      <div class="description-style">Symbol</div>
      <input formControlName="symbol" type="text" class="input-field" (input)="onSymbolInput()"  />
    </label>
  </div>

  <div class="form-group">
    <label class="form-label">
      <div class="description-style">Maximum token supply</div>
      <input formControlName="numberInput" type="text" class="input-field" (input)="onNumberInput()" />
    </label>
  </div>

  <div class="form-group blockchain-group">
    <label class="section-title description-style">Blockchain</label>
    <div class="radio-group">
      <label class="radio-label">
        <input type="radio" formControlName="radioOption" value="Enthereum" class="hidden-radio" />
        <span class="radio-btn">Enthereum</span>
      </label>
      <label class="radio-label">
        <input type="radio" formControlName="radioOption" value="BinanceSmartChain" class="hidden-radio" />
        <span class="radio-btn">Binance Smart Chain</span>
      </label>
    </div>
  </div>
  

  <div class="form-group supply-group">
    <label class="section-title description-style">Supply</label>
    <div class="checkbox-group" formGroupName="checkboxes">
      <label class="checkbox-label">
        <input type="checkbox" formControlName="optionA" class="custom-checkbox" />
        <span class="checkbox-text">Enabled</span>
      </label>
    </div>
  </div>
  
  
  <button type="submit" [disabled]="myForm.invalid" class="save-draft-button">SAVE DRAFT</button>
</form>
