<div class="form-container">
  <!-- Фильтры -->
  <app-filters [items]="items" (filter)="onFilter($event)"></app-filters>

  <!-- Список элементов -->
  <ul class="item-list">
    <li *ngFor="let item of filteredItems" class="item">
      <div class="item-field">Name: {{ item.textInput }}</div>
      <div class="item-field">Supply: {{ item.numberInput }}</div>
      <div class="item-field">Blockchain: {{ item.radioOption }}</div>
      <div class="item-field">Company: {{ item.selectOption }}</div>
      <div class="item-field">
        Supply: {{ item.checkboxes && item.checkboxes.optionA ? 'Enabled' : 'Disabled' }}
      </div>
    </li>
  </ul>

  <button (click)="toggleFormVisibility()" class="add-project-button">Add New Project</button>
</div>
